/* poppins-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-brand: #819b57;
  --color-brand2: #465929;
  --color-light: #faf4ea;
  --color-dark: #31261a;
}
/* base */
body {
  color: var(--color-dark);
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
/*button section*/
.button-primary {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}
.button-primary:hover {
  color: var(--color-brand2);
  background-color: transparent;
}
/* header section */
.header-link {
  color: var(--color-light);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
}
.header-link:hover {
  color: var(--color-brand);
  font-weight: 600;
}
ul.link-text {
  list-style: none;
}
/* hero section */
.hero-title {
  color: var(--color-light);
  font-family: 'poppins', sans-serif;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand);
}
/* advantages sections */
.advantages {
  background-color: var(--color-brand);
  color: var(--color-light);
  list-style-type: none;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  color: var(--color-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .chef-titles {
  color: var(--color-brand2);
}
/* tradition section */
.tradition-text .brand {
  color: var(--color-brand);
}
.tradition-text .uppercase {
  text-transform: uppercase;
  font-weight: 600;
}
/* chef section*/
.chef-names {
  font-size: 40px;
  font-weight: 600;
}
ul.chefs {
  list-style: none;
}
/* format-titles*/
.format-title {
  font-size: 24px;
  font-weight: 600;
}
ul.formats-list {
  list-style: none;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
/* contacts section*/
ul.contacts-text {
  list-style: none;
}
/* adress section*/
address {
  font-style: normal;
}
.adress-link {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand);
}
.adress-copyright {
  color: #a18268;
  font-size: 14px;
}
